{% extends "layout.html "%}
{% block content %}
<h1 class="mb-3">Coupans by {{user.username}} {{coupans.total}}</h1>
{% for coupan in coupans.items %}
<div class="card mb-1">
    <div class="card-body">
        <h5 class="card-title">
            <a class="link-primary" href="{{url_for('coupan',coupan_id=coupan.id)}}">{{coupan.title}}</a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted"><a
                href="{{url_for('user_coupans',username=coupan.author.username)}}">By
                {{coupan.author.username}}</a></h6>
        <p class="card-text"><b>Coupan Code:</b> {{coupan.code}}</p>
        <p class="card-text"><b>Platform To Apply:</b> {{coupan.platform_apply}}</p>
        <p class="card-text"><b>
                Platform We got from:</b> {{coupan.platform_get}}
        </p>
        <p class="card-text"><b>Expiry Date:</b> {{coupan.expiry_date.strftime('%d-%b-%Y')}}</p>
        <p class="card-text"><b>COupan Details:</b> {{coupan.details}}</p>
        <p class="card-text"><b>Is expired:</b> {{coupan.is_expired}}</p>
    </div>
</div>

{% endfor %}
{% for page_num in coupans.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
{% if page_num %}
{% if coupans.page == page_num %}
<a class="btn btn-info mb-4" href="{{url_for('user_coupans',username=user.username,page=page_num)}}">{{page_num}}</a>
{% else %}
<a class="btn btn-outline-info mb-4"
    href="{{url_for('user_coupans',username=user.username,page=page_num)}}">{{page_num}}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}
{% endblock content %}