{% extends "layout.html" %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">User Details
        </h5>
        <p class="card-text"><b>Username</b> {{current_user.username}}</p>
        <p class="card-text"><b>Email</b> {{current_user.email}}</p>

        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
            Delete Account
        </button>
    </div>
</div>

<div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}

        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Account Info</legend>
            <div class="form-group">
                {{form.username.label(class="form-control-label")}} {% if
                form.username.errors %} {{form.username(class="form-control
                form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>

                {% else %} {{form.username(class="form-control form-control-lg")}} {%
                endif %}
            </div>
            <div class="form-group">
                {{form.email.label(class="form-control-label")}}
                {% if form.email.errors %} {{form.email(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{error}}</span>
                    {% endfor %}
                </div>

                {% else %} {{form.email(class="form-control form-control-lg")}} {% endif
                %}
            </div>
        </fieldset>
        <div class="form-group">{{form.submit(class="btn btn-primary")}}</div>
    </form>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">You sure you want to delete account. All associated coupons will also
                    get deleted</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form action="{{url_for('users.delete_account')}}" method="POST">
                    <input type="submit" class="btn btn-danger" value="Delete">

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}